{% extends 'layout.html' %}
{% block content %}

  <main>
    <section class="title">
      <div class="container">
        <h2 class="title__text">Variedad de Helados</h2>
      </div>
    </section>

    <!-- <section class="special">
      <div class="container">
        <h3 class="special__title">Especialidad de la Casa</h3>
      
        <div class="special__wrapper">
          {% for prod in productos %}
          <div class="special__item">
            <div class="special__item-img">
              <img src="{{ prod.imagen.url }}" alt="Especial" loading="lazy">
            </div>
            <div class="special__item-info">
              <h3>{{prod.nombre}}</h3>
              <h4>S/{{prod.precio}}</h4>
            </div>
          </div>
          {% endfor %}

          
        </div>

      </div>
    </section> -->

    <section class="icecream">
      <div class="container">
        <h2 class="icecream__title">Helados más pedidos</h2>

        <div class="icecream__wrapper">
          {% for prod in productos %}
          <div class="icecream__item">
            <div class="icecream__item-img">
              <img src="{{ prod.imagen.url }}" alt="Helado" loading="lazy">
            </div>
            <div class="icecream__item-info">
              <h2 style="color:black">{{prod.categoria.nombre}}</h2>
              <h3>{{prod.nombre}}</h3>
              <h4>S/{{prod.precio}}</h4> 
              <br>
              <a class="btn form__activo" href={% url 'web:agregarCarrito' prod.id %}>Carrito</a>
            </div>
          </div>
          {% endfor %}

          <!-- <div class="icecream__item">
            <div class="icecream__item-img">
              <img src="../static/img/helado-durazno.png" alt="Helado" loading="lazy">
            </div>
            <div class="icecream__item-info">
              <h3>Helado de Durazno</h3>
              <h4>S/10</h4>
            </div>
          </div>

          <div class="icecream__item">
            <div class="icecream__item-img">
              <img src="../static/img/helado-arandano.png" alt="Helado" loading="lazy">
            </div>
            <div class="icecream__item-info">
              <h3>Helado de Arándano</h3>
              <h4>S/10</h4>
            </div>
          </div>

          <div class="icecream__item">
            <div class="icecream__item-img">
              <img src="../static/img/image1.webp" alt="Helado" loading="lazy">
            </div>
            <div class="icecream__item-info">
              <h3>Helado de Frambuesa</h3>
              <h4>S/10</h4>
            </div>
          </div>
        </div>
      </div> -->
    </section>

    <!-- <section class="icecream">
      <div class="container">
        <h2 class="icecream__title">Helados de diferentes sabores</h2>

        <div class="icecream__wrapper">
          <div class="icecream__item">
            <div class="icecream__item-img">
              <img src="../static/img/helado-chocolate.webp" alt="Helado" loading="lazy">
            </div>
            <div class="icecream__item-info">
              <h3>Helado de Chocolate</h3>
              <h4>S/8</h4>
            </div>
          </div>

          <div class="icecream__item">
            <div class="icecream__item-img">
              <img src="../static/img/helado-menta2.png" alt="Helado" loading="lazy">
            </div>
            <div class="icecream__item-info">
              <h3>Helado de Menta</h3>
              <h4>S/8</h4>
            </div>
          </div>

          <div class="icecream__item">
            <div class="icecream__item-img">
              <img src="../static/img/helado-caramelo.png" alt="Helado" loading="lazy">
            </div>
            <div class="icecream__item-info">
              <h3>Helado de Caramelo</h3>
              <h4>S/8</h4>
            </div>
          </div>

          <div class="icecream__item">
            <div class="icecream__item-img">
              <img src="../static/img/helado-fresa.webp" alt="Helado" loading="lazy">
            </div>
            <div class="icecream__item-info">
              <h3>Helado de Fresa</h3>
              <h4>S/8</h4>
            </div>
          </div>

          <div class="icecream__item">
            <div class="icecream__item-img">
              <img src="../static/img/helado-vainilla.webp" alt="Helado" loading="lazy">
            </div>
            <div class="icecream__item-info">
              <h3>Helado de Vainilla</h3>
              <h4>S/8</h4>
            </div>
          </div>

          <div class="icecream__item">
            <div class="icecream__item-img">
              <img src="../static/img/helado-fresa-cono.png" alt="Helado" loading="lazy">
            </div>
            <div class="icecream__item-info">
              <h3>Helado de Cono - Fresa</h3>
              <h4>S/8</h4>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="icecream">
      <div class="container">
        <h2 class="icecream__title">Helados en vasito</h2>

        <div class="icecream__wrapper">
          <div class="icecream__item">
            <div class="icecream__item-img">
              <img src="../static/img/helado-frambuesa-vasito.png" alt="Helado" loading="lazy">
            </div>
            <div class="icecream__item-info">
              <h3>Arándanos</h3>
              <h4>S/12</h4>
            </div>
          </div>

          <div class="icecream__item">
            <div class="icecream__item-img">
              <img src="../static/img/helado-vaso-chocolate-borde.png" alt="Helado" loading="lazy">
            </div>
            <div class="icecream__item-info">
              <h3>Oreo Chocolatoso</h3>
              <h4>S/12</h4>
            </div>
          </div>

          <div class="icecream__item">
            <div class="icecream__item-img">
              <img src="../static/img/helado-vaso-tri-border.png" alt="Helado" loading="lazy">
            </div>
            <div class="icecream__item-info">
              <h3>Vainilla con Leche</h3>
              <h4>S/12</h4>
            </div>
          </div>

          <div class="icecream__item">
            <div class="icecream__item-img">
              <img src="../static/img/helado-vaso-tres-border.png" alt="Helado" loading="lazy">
            </div>
            <div class="icecream__item-info">
              <h3>Chocolate y Vainilla</h3>
              <h4>S/12</h4>
            </div>
          </div>

          <div class="icecream__item">
            <div class="icecream__item-img">
              <img src="../static/img/helado-vaso-vainilla-borde.png" alt="Helado" loading="lazy">
            </div>
            <div class="icecream__item-info">
              <h3>Tri Sabor</h3>
              <h4>S/12</h4>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="icecream">
      <div class="container">
        <h2 class="icecream__title">Extras</h2>

        <div class="icecream__wrapper">
          <div class="icecream__item">
            <div class="icecream__item-img">
              <img src="../static/img/cafe.png" alt="Helado">
            </div>
            <div class="icecream__item-info">
              <h3>Café</h3>
              <h4>S/8</h4>
            </div>
          </div>

          <div class="icecream__item">
            <div class="icecream__item-img">
              <img src="../static/img/dona.png" alt="Helado">
            </div>
            <div class="icecream__item-info">
              <h3>Donnuts</h3>
              <h4>S/8</h4>
            </div>
          </div>

          <div class="icecream__item">
            <div class="icecream__item-img">
              <img src="../static/img/Batidos.png" alt="Helado">
            </div>
            <div class="icecream__item-info">
              <h3>Batidos</h3>
              <h4>S/8</h4>
            </div>
          </div>

          <div class="icecream__item">
            <div class="icecream__item-img">
              <img src="../static/img/granCono.png" alt="Helado">
            </div>
            <div class="icecream__item-info">
              <h3>Gran Cono</h3>
              <h4>S/8</h4>
            </div>
          </div>

          <div class="icecream__item">
            <div class="icecream__item-img">
              <img src="../static/img/fruta y helado.png" alt="Helado">
            </div>
            <div class="icecream__item-info">
              <h3>Fruta y helado</h3>
              <h4>S/8</h4>
            </div>
          </div>
        </div>
      </div>
    </section> -->

  </main>

{% endblock %}
