{% extends 'layout.html' %}
{% block content %}

  <main>
    <section class="history">
      <div class="container">
        <div class="history__wrapper">
          <div class="history__img">
            <img src="../static/img/helado-nosotros.jpg" alt="Foto">
          </div>
          <div class="history__info">
            <h3>Nuestra Historia</h3>
            <h4>Inicia en 2010</h4>
            <p>Bienvenido a Dolce Placer. Nos enorgullece brindar un servicio cálido y cordial, y poder prepara deliciosos helados para todos. Usamos ingredientes locales e importados frescos, para asegurarnos que
              tenga una experiencia gastronómica inolvidable.
              <br><br>
              Desde 2010, somos el lugar perfecto para degustar una gran variedad de diferentes sabores de helados entre dos, con amigos, fiestas o
              familiares. Con un entorno cómodo, precios asequibles
              y
              asientos para hasta 20 invitados. Le prometemos que tendrá una maravillosa experiencia juntos a sus seres queridos, no se arrepentirá.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="goals">
      <div class="container">
        <div class="goals__info">
          <h3 class="goals__info-title">Visión a Futuro</h3>
          <p class="goals__info-text">Venderemos helados y bebidas deliciosas, de diferentes sabores que cumplan con los más altos criterios de calidad, al mismo tiempo que combinamos las tradiciones culinarias modernas, creativas y clásicas. Al mostrar calidez, amabilidad, eficiencia, habilidad, profesionalismo e integridad en nuestro trabajo, serviremos continuamente a nuestros consumidores con un servicio excepcional. Cada cliente que ingrese a nuestro local quedará impresionado por la experiencia que le ofreceremos en Dolce Placer y luego quedar emocionados en volver.</p>
        </div>
        <div class="goals__img-wrapper">
          <div class="goals__img1">
            <img src="../static/img/goals1.jpg" alt="Foto">
          </div>
          <div class="goals__img2">
            <img src="../static/img/goals2.jpg" alt="Foto">
          </div>
          <div class="goals__img3">
            <img src="../static/img/goals3.jpg" alt="Foto">
          </div>
        </div>
      </div>
    </section>
  </main>

{% endblock %}